<div nz-row [nzGutter]="24">   <!-- for tab of the table -->
  <div nz-col [nzSpan]="16">
    <nz-radio-group [(ngModel)]="radioValue" nzButtonStyle="solid">
      <label nz-radio-button nzValue='A'>All Zodiac</label>
      <label nz-radio-button nzValue='B'>Daily</label>
      <label nz-radio-button nzValue="C">Weekly</label>
      <label nz-radio-button nzValue="D">Monthly</label>
      <label nz-radio-button nzValue="E">Yearly</label>
    </nz-radio-group>
  </div>

</div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="24">
      <nz-table #basicTable nzSize="small" [nzData]="listOfData">
        <thead>
          <tr>
            <th>Sl. No.</th>
            <th nzCustomFilter>
              Name
              <nz-filter-trigger (nzVisible)="true" [nzActive]="listOfData.length > 0" [nzDropdownMenu]="menu">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th>Period Type</th>
            <th>Date & Time</th>
            <th>Description</th>
            <th>Share</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ data.zodiac }}</td>
            <td>{{ data.periodType }}</td>
            <td>{{ data.dateAndTime }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.share }}</td>
            <td>
              <nz-switch [(ngModel)]="switchValue"></nz-switch>
            </td>
            <td>
              <button nz-button nzType="text" nzShape="circle"><span nz-icon nzType="edit"></span></button>
              <button nz-button nzType="text" nzShape="circle"><span nz-icon nzType="delete"></span></button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchByName()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="resetByName()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>


